<div class="container">
  <div class="search-bar">
    <%= form_with url: petsitters_path, method: "GET", local: true do |f| %>
      <div class="d-flex justify-content-around align-items-center">
        <% if params[:search].present? %>
        <%= f.text_field :search,  placeholder: params[:search] %>
        <% else %>
        <%= f.text_field :search,  placeholder: "Adresse ou lieu" %>
        <% end %>
        <p>du</p>
        <p>01/01/2020</p>
        <p>au</p>
        <p>02/01/2020</p>
        <%= f.submit "", value: "Je trouve ma garde !", class: "btn button-basic", data: { disable_with: false } %>
      </div>
    <% end %>
  </div>
  <div class="wrapper">
    <div class="column1">
      <ul class="pl-0">
        <% @petsitters.each do |petsitter| %>
          <li class="list-unstyled">
            <div class="card">
              <div class="additional">
                <div class="user-card">
                  <div class="username center">
                    <%= petsitter.user.first_name.capitalize %> <%=petsitter.user.last_name.capitalize%>
                  </div>
                  <div class="price center">
                  <!-- a renseigner quand on aura le prix pour chaque prestations -->
                    10€/j
                  </div>
                  <div class="image_avatar center" style="background-image: url('https://images.unsplash.com/photo-1546961329-78bef0414d7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60'); background-size: 100%;">
                  </div>
                </div>
                <div class="more-info">
                  <h1> <%= petsitter.user.first_name.capitalize %> <%=petsitter.user.last_name.capitalize%> </h1>
                  <div class="coords">
                    <span>
                      <%  if (Date.today.month < petsitter.user.age.month) && (Date.today.day < petsitter.user.age.day) %>
                        <%= age = Date.today.year - petsitter.user.age.year %>
                      <% else %>
                        <%= age = Date.today.year - petsitter.user.age.year - 1 %>
                      <% end %>
                      ans
                   </span>
                   <!-- mettre review quand review dispo -->
                   <span> Note</span>
                  </div>
                  <div class="coords">
                    <span> <%= Geocoder.search([petsitter.latitude, petsitter.longitude]).first.city %> </span>
                    <!-- distance a calculer quand ca sera possible -->
                    <span> 3Km</span>
                  </div>
                  <div class="stats">
                    <div>
                      <div class="title">Logement</div>
                      <i class="fas fa-home"></i>
                    </div>
                    <div>
                      <div class="title">Enfants</div>
                      <div class="value">2</div>
                    </div>
                    <div>
                      <div class="title">Animaux</div>
                      <div class="value">1</div>
                    </div>
                    <div>
                      <div class="title">Certificat</div>
                      <i class="fas fa-check-circle"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="general">
                <h1><%= petsitter.user.first_name.capitalize %> <%=petsitter.user.last_name.capitalize%></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
      <div class="column2">
        <div id="map"
         style="width: 100%; height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%=ENV['MAPBOX_API_KEY']%>"></div>
      </div>
  </div>
</div>
