
<div class="container">
    <div class="button-edit">
      <%= link_to edit_user_path do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>
  <div class="row m-5 ">

    <div class="col-4 user-profile">
      <% if @user.user_photo.attached? %>
        <%= cl_image_tag @user.user_photo.key, class: "photo-user-profile" %>
      <% else %>
        <%= image_tag "profile.jpg", class: "photo-user-profile"%>
      <% end %>
      <h2 class="text-center"><%= @user.first_name %></h2>
      <h6 class="my-1 p-1 text-center"><%= @old %> ans</h6>
      <div class="d-flex justify-content-around mb-2 mt-2">
        <%= image_tag "children.png", class: "icon-user-profile"%>
        <%= image_tag "building.png", class: "icon-user-profile"%>
        <%= image_tag "certificat.png", class: "icon-user-profile"%>
      </div>
      <div class="text-center btn btn-light border-secondary">
        <%= link_to "Ajouter un animal", new_animal_path %>
      </div>
      <div class="text-center button-basic">
        <%= link_to "Me Contacter", "", 'data-toggle': "modal", 'data-target': "#exampleModalCenter", style: 'display:block;'%>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Message pour <%=current_user.first_name  %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
</div>

    <div class="col-8">
      <div class="user-informations">
        <div class="user-description">
          Descriptions / motivations
        </div>

        <div class="user-services">
          Services / tarifs
        </div>
      </div>
    </div>
  </div>
</div>
