<div class="container">
  <div class="form-container pt-3 pb-3">
    <div class="row form-card">
      <div class="col-4 form-img", style="background-image: url(<%= asset_path 'chat.png' %>);">
        <div class="mt-5 d-flex flex-column align-items-center">
          <%= image_tag "logo.png", style: "height: 40px; width: auto"%>
          <h6 class="text-center text-white">Entre deux<br>
           bonnes pates</h6>
        </div>
      </div>

      <div class="col-8 form-infos">
        <h4 class="text-center mt-4 text-bold">Connexion à l'espace membre</h4>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">

            <div class="form-row input-group mb-4 ">
              <div class="col-12">
                <div class="input-group-prepend">
                  <span class="input-group-addon icon"><i class="far fa-envelope"></i></span>
                  <div class="flex-grow-1">
                    <%= f.input :email, label: false,
                                required: false,
                                autofocus: true,
                                input_html: { autocomplete: "email" } %>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row input-group mb-4 ">
              <div class="col-12">
                <div class="input-group-prepend">
                  <span class="input-group-addon icon"><i class="fa fa-key"></i></span>
                  <div class="flex-grow-1">
                    <%= f.input :password, label: false,
                                required: false,
                                input_html: { autocomplete: "current-password" } %>
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="form-actions mb-5">
            <%= f.button :submit, "Se connecter", class: "btn btn-block button-basic text-white"  %>
          </div>
        <% end %>
        <div class="d-flex flex-column">
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
